@import "reset.css";

body {
    background-image: url("../img/img1.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
 .intro{
     background: rgba(0, 0, 0, 0.5);
     height: 60px;
     margin-bottom: 65px;
     display: flex;
     justify-content: space-between;
     padding: 0 93px;
 }

 .intro-heading{
     font-size: 20pt;
     color: white;
     text-align: left;
     align-self: center;
 }

.intro-heading:hover{
   color:#3cb878;
}

 .spryte{
     display: flex;
     justify-content: space-between;
     align-content: center;
     align-items: center;
 }

 .icon-calendar{
     background-image: url("../img/spritesheet.png");
     display: inline-block;
     width: 19px;
     height: 19px;
     padding: 1px;
     background-position: 208px 47px;
 }

.icon-calendar:hover{
    background-position:-27px 47px;
}

.icon-notes{
    background-image: url("../img/spritesheet.png");
    display: inline-block;
    width: 19px;
    height: 19px;
    /*float: right;*/
    padding: 28px;
    background-position: 92px 149px;
}

.icon-notes:hover{
    background-position:-67px 149px;

}

.icon-compass{
    background-image: url("../img/spritesheet.png");
    display: inline-block;
    width: 19px;
    height: 19px;
    background-position: 160px 147px;
    padding: 27px;
}

.icon-compass:hover {
    background-position: -159px 147px;
}

.login{
    float: right;
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    border-left: 2px solid #33312f;
    margin-left: 24px;
    padding-left: 45px;
}
.frem {
    color: white;
    text-decoration: none;
}

.frem:hover{
    text-decoration: underline;
    color: #3cb878;
}

.section-container{
    margin: 0 auto;
}

.feedback-content {
    display: flex;
    border: 1px solid white;
    background-color: white;
    width: 444px;
    height: 584px;
    margin: 0 auto;
    border-radius: 10px;
}

.sign{
    font-size: 20pt;
    color: rgba(67, 67, 67, 255);
}

.main{
    color:#376549;
    font-size: 14pt;
    text-align: left;
}

.feedback-social--menu{
    display: flex;
    justify-content: space-around;
    padding-top: 29px;
    padding-bottom: 15px;
}

.feedback-social-network{
    display: flex;
    justify-content: space-around;
    padding-bottom: 42px;

}

.btn-facebook{
    /*display: block;*/
    /*width: 157px;*/
    /*height: 46px;*/
    padding: 15px 30px;
    background-color: #305db8;
    border-radius: 5px;
}

.btn-icon-text{
    color: #fff;
    font-size: 16pt;
}

.btn-facebook{
    color: #fff;
    font-size: 20px;
    margin-left: 51px;
}

.btn-google{
    padding: 15px 30px;
    background-color: #df4a32;
    border-radius: 5px;
    margin-right: 51px;
}

.btn-icon-text{
    color: #fff;
    font-size: 16pt;
}

.btn-google{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.land{
    display: flex;
    justify-content: center;
    margin-top: -26px;
    margin-bottom: 15px;
}

.main{
    color:#376549;
    font-size: 14pt;
    text-align: left;
}

.feedback-form-input-name,
.feedback-form-input-lust-name,
.feedback-form-input-email,
.feedback-form-input-password{
    width: 300px;
    height: 46px;
    margin-left: 62px;
    margin-bottom: 17px;
    padding-left: 19px;
}


.feedback-form-input-checkbox{
    margin-left: 62px;
    margin-bottom: 17px;
    margin-right: 13px;
}

.text{
    font-size: 14pt;
    color: rgba(67, 67, 67, 255);
    text-align: left;
}

.url{
    color:rgba(67, 67, 67, 255);
    text-decoration: none;
}

.url:hover{
    color: #376549;
    text-decoration: underline;
}

.about-gallery-text-button{
    text-decoration: none;
    font-size: 16pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    height: 35px;
    width: 344px;
    background-color:#3cb878;
    display: inline-block;
    padding-top: 10px;
    margin-left: 52px;
    border: 1px solid white;
    border-radius: 5px;
}

