
.intro {
    background-image: url("../img/header-bg.jpeg");
    width: 100%;
    background-repeat: repeat-y, repeat-y;
    background-position: left, right;
    background-attachment: fixed, fixed;
    text-align: center;
    margin: 0 auto;
}

.intro-head {
    background-color: #1d2124;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 93px;
    align-items: center;
}

.intro-heading {
    font-size: 22px;
    color: #f1f1f1;
    align-self: center;
    margin-left: -35px;
}

.main-menu {
    display: flex;
    font-size: 15px;
    color: rgba(255, 255, 255, 255);
    text-align: right;
}

.intro-head-start {
    padding: 200px 0;
}

.search {
    text-decoration: none;
    color: #f1f1f1;
}

.menu {
    margin-left: 36px;

}

.src {
    margin-right: -92px;
    background-color: #171a1c;
    height: 59px;
    width: 65px;
}

.fa-search {
    margin: 20px;
}

.search-point {
    text-decoration: none;
    color: white;
}

.title {
    font-size: 27px;
    color: rgba(255, 255, 255, 255);
    margin-bottom: 35px;
}

.btn1 {
    text-decoration: none;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    height: 31px;
    width: 160px;
    background-color: #89ca62;
    display: inline-block;
    border-radius: 3px;
    padding-top: 12px;
}

.btn2 {
    text-decoration: none;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    height: 31px;
    width: 160px;
    background-color: #14b9d5;
    display: inline-block;
    border-radius: 3px;
    padding-top: 12px;
    margin-left: 20px;
}

.second-intro {
    display: flex;
    justify-content: center;
}

.caption {
    font-size: 27pt;
    color: rgba(24, 180, 207, 255);
    padding: 40px;
}

.main-gallery-container {
    background-color: #f2f2f2;
}

.main-gallery {
    display: flex;
    flex-direction: column;
    height: 850px;
    flex-wrap: wrap;
    width: 1160px;
    align-items: center;
    margin: 0 auto;
}

.main-gallery-item {
    margin: 40px auto 0;
    background-color: white;
}

.main-gallery-text {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.photo1 {
    width: 300px;
}

.clientage {
    background-image: url("../img/parallax-bg.jpeg");
    margin: 0 auto;
    width: 100%;
    height: 590px;
    background-repeat: repeat-y, repeat-y;
    background-position: left, right;
    background-attachment: fixed, fixed;
    text-align: center;
}

.subtitle {
    font-size: 32px;
    color: rgba(255, 255, 255, 255);
    margin: 0;
    padding: 165px
}

hr {
    border: none;
    background-color: #169cb4;
    color: #169cb4;
    height: 3px;
    width: 60px;
    margin-top: -90px;
}

.types-customers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 60px;
    width: 1050px;
    margin-left: 226px;
}

.types-customers-img:nth-child(1) {
    padding: 10px;
}

.types-customers-img:nth-child(2){
    margin-left: 30px
}

.main-title {
    font-size: 27px;
    color: rgba(24, 180, 207, 255);
    text-align: center;
    padding: 30px;
}

.travel {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.travel-image {
    width: 100%;
}

.news-text {
    font-size: 27px;
    color: rgba(24, 180, 207, 255);
    text-align: center;
    padding: 30px;
}

.intro-gallery {
    margin: 0 auto;
    grid-gap: 46px;
    display: grid;
    width: 1160px;
    grid-template-areas: "item1 item1 item1 item2" "item3 item3 item4 item4" "item5 item5 item6 item6" "item7 item8 item8 item8";
    padding-bottom: 71px;

}

.intro-gallery-item1,
.intro-gallery-item2,
.intro-gallery-item3,
.intro-gallery-item4,
.intro-gallery-item5,
.intro-gallery-item6,
.intro-gallery-item7,
.intro-gallery-item8 {
    background: #f9f7f7;
}

.intro-gallery-item1 {
    grid-area: item1;
}

.intro-gallery-item2 {
    grid-area: item2;

}

.intro-gallery-item3 {
    grid-area: item3;

}

.intro-gallery-item4 {
    grid-area: item4;

}

.intro-gallery-item5 {
    grid-area: item5;

}

.intro-gallery-item6 {
    grid-area: item6;
}

.intro-gallery-item7 {
    grid-area: item7;

}

.intro-gallery-item8 {
    grid-area: item8;

}

.intro-gallery-heading {
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
    text-align: right;
}

.intro-gallery-text {
    font-size: 14pt;
    color: rgba(91, 100, 105, 255);
    text-align: right;
}

.intro-gallery-head {
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
    text-align: center;
}

.intro-gallery-photo1,
.intro-gallery-photo7 {
    float: left;
}

