
body{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #484848;
}
*{
    font-family: "Arimo", sans-serif;
}

.grid{
    display: grid;
    border: 20px solid #3a4965;
    width: 1149px;
    height: 695px;
    grid-template-columns: 310px 277px 279px 277px;
    grid-template-rows: 70px 86px repeat(6, 69px) 108px;
    grid-gap: 2px;
    background-color: gray;
}

.grid-item-1{
    grid-row: span 2;
    background-color: white;
    line-height: 0.9em;
    padding-top: 25px;
}

.intro{
    font-size: 20pt;
    color: rgba(72, 72, 72, 255);
    text-align: center;
}


.title{
    font-size: 25pt;
    color: rgba(72, 72, 72, 255);
    text-align: center;
}


.grid-item-2{
    background-color: #89c331;
}

.text1{
    font-size: 24pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin-top: 16px;
}

.grid-item-3{
    background-color: #f04a56;
}

.text2{
    font-size: 30pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin-top: 12px;
}

.grid-item-4{
    background-color: #20807c;
}

.text3{
    font-size: 24pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin-top: 16px;
}

.grid-item-5,
.grid-item-6,
.grid-item-7{
    background-color: #fafafa;
}

.btn-text{
    font-size: 48pt;
    color: rgba(72, 72, 72, 255);
    text-align: left;
    margin-top: 1px;
    margin-left: 33px;
}

.moon{
    font-size: 18pt;
    color: rgba(72, 72, 72, 255);
    margin-top: -102px;
    margin-left: 113px;
}

.sup-price{
    font-size: 24pt;
}

.button-text{
    font-size: 60pt;
    color: rgba(72, 72, 72, 255);
    text-align: left;
}

.grid-item-8,
.grid-item-9,
.grid-item-10,
.grid-item-11{
   background-color: #f2f2f2;
}

.fa-archive{
    font-size: 24pt;
    color: rgba(132, 132, 132, 255);
    text-align: center;
    padding-top: 15px;
}

.functions1{
    font-size: 16pt;
    color: rgba(72, 72, 72, 255);
    text-align: center;margin-top: -25px;
    margin-left: 133px;
}



.ability{
    font-size: 15pt;
    color: rgba(72, 72, 72, 255);
    text-align: center;
}

.grid-item-12{
    background-color: #e3e3e3;
}

.fa-cloud-upload-alt{
    font-size: 24pt;
    color: rgba(132, 132, 132, 255);
    text-align: center;
    padding-top: 15px;
    margin-left: -34px;
}

.functions2{
    font-size: 16pt;
    color: rgba(72, 72, 72, 255);
    text-align: center;
    margin-top: -25px;
    margin-left: 170px;
}

.grid-item-13{
    background-color: #e3e3e3;
    grid-column: span 2;
}


.grid-item-14{
    background-color: #e3e3e3;
}

.grid-item-15,
.grid-item-16,
.grid-item-17,
.grid-item-18{
    background-color: #f2f2f2;
}

.fa-envelope{
    font-size: 24pt;
    color: rgba(132, 132, 132, 255);
    text-align: center;
    margin-top: 15px;
    margin-left: 15px;
}

.functions3{
    font-size: 16pt;
    color: rgba(72, 72, 72, 255);
    text-align: center;
    margin-top: -27px;
    margin-left: 121px;
}


.grid-item-19{
    background-color: #e3e3e3;
}

.fa-life-ring{
    font-size: 24pt;
    color: rgba(132, 132, 132, 255);
    text-align: center;
    margin-top: 15px;
    margin-left: -23px;
}

.functions4{
    font-size: 16pt;
    color: rgba(72, 72, 72, 255);
    text-align: center;
    margin-top: -27px;
    margin-left: 156px;
}

.grid-item-20{
    grid-column: span 3;
    background-color: #e3e3e3;
}

.grid-item-21,
.grid-item-22,
.grid-item-23,
.grid-item-24{
    background-color: #f2f2f2;
}

.fa-cube{
    font-size: 24pt;
    color: rgba(132, 132, 132, 255);
    text-align: center;
    margin-top: 15px;
    margin-left: -48px;
}

.functions5{
    font-size: 16pt;
    color: rgba(72, 72, 72, 255);
    text-align: center;
    margin-top: -27px;
    margin-left: 181px;
}

.grid-item-25,
.grid-item-26,
.grid-item-27,
.grid-item-28{
    background-color: #e3e3e3;
}

.fa-users{
    font-size: 24pt;
    color: rgba(132, 132, 132, 255);
    text-align: center;
    margin-top: 15px;
    margin-left: 79px;
}

.functions6{
    font-size: 16pt;
    color: rgba(72, 72, 72, 255);
    text-align: center;
    margin-top: -27px;
    margin-left: 25px;
}

.grid-item-29{
    background-color: #dddddd;
    padding-top: 43px;
}

.btn1{
    font-size: 16pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-decoration: none;
    background-color: #484848;
    padding: 17px 54px;
    border-radius: 5px;
    margin-left: 55px;
}

.grid-item-30,
.grid-item-32{
    background-color: #eeeeee;
    padding-top: 43px;
}

.btn2{
    font-size: 16pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-decoration: none;
    background-color: #89c331;
    padding: 17px 54px;
    border-radius: 5px;
    margin-left: 47px;
}

.btn3{
    font-size: 16pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-decoration: none;
    background-color: #f04a56;
    padding: 17px 54px;
    border-radius: 5px;
    margin-left: 47px;
}

.grid-item-31{
    background-color: #f4f4f4;
    padding-top: 43px;
}

.btn4{
    font-size: 16pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-decoration: none;
    background-color: #20807c;
    padding: 17px 54px;
    border-radius: 5px;
    margin-left: 47px;
}

